.landingbg{
		background: url(<blockquote class="imgur-embed-pub" lang="en" data-id="mMOSYoW"><a href="//imgur.com/mMOSYoW">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>)
		no-repeat scroll center center / cover		rgba(0,0,0,0);
		display: block;
		height: 50%;
		position: relative;
		width: 50%;
			}